h1{
color:red;
}

nav{
display:flex;
justify-content:center;
background-color:gray;
height:70px;
}

p{
font-size:14px;
padding:30px;

}

footer{
display:flex;
justify-content:center;
background-color:gray;
height:40px;
}

a{
  paddind:5px;
}


