div{
border-style:solid;
margin:5px;

}
.div1{
background-color: red;
/*display:block;*/
}

.div2{
background-color: red;
}
.span{
float:right;
}

li{
border-style: solid;
margin:5px;
}

.static{

}

.relative{
position: relative;
left:80px;
z-index:10;
}

.fixed{
position:fixed;
background-color: bisque;
margin:20px;
bottom:0px;
left:0px;
}

.absolute{
    position:absolute;
    bottom:0px;
    right:0px;
}
.sticky{
    position:sticky;
    top:0px;
    z-index:10;
}

.flexbox{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height:150px;
    width:300px;
    /*justify-content: start;
    justify-content: center;
    justify-content: space-between;*/
    justify-content: space-around;
    /*align-items: stretch;*/
    align-items: left;
}

.div3{
    background-color:lightblue;
    border-style:solid;
    height:17px;
    width:30px;
}

.div4{
    background-color:lightblue;
    border-style:solid;
    height:17px;
    width:30px;
}

.div5{
    background-color:lightblue;
    border-style:solid;
    height:17px;
    width:30px;
}

.overflow1{
width:300px;
height: 100px;
overflow:hidden;
}
.overflow2{
width:300px;
height: 100px;
overflow:scroll;
    }
.overflow3{
width:300px;
height: 100px;
overflow:visible;
}
.overflow4{
margin-top:30px;
width:300px;
height: 100px;
overflow:auto;
}

*{
padding: 0;
margin: 0;
}

.img{
    width:150px;
    height:150px;
}


.gallery{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    width:100vw;
    opacity:1;
}

.video{
    object-fit: cover;
    
}

.hello{
    position: relative;
}